@media (max-width: 575.98px) {
    header .holder-logo .logo .img-logo {
      max-height: 70px!important;
  }
   header {
  --header-height: 90px!important;
  }  
  }
  @media (min-width:64px) and (max-width: 767.98px) {
  header {
  --header-height: 90px!important;
  }  
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  header {
  --header-height: 109px!important;
  }  
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  header {
  --header-height: 109px!important;
  }    
  }
  
  @media (min-width: 1200px) {
  header {
  --header-height: 109px!important;
  }  
  }
  header .holder-logo .logo .img-logo {
      max-height: 60px!important;
  }
  body.custom-checkout header .item-security, body.turboofertas header .item-security, body.yep header .item-security {
      display: none!important;
  }

  
@keyframes slide-ads {
    0%, 20% {
        content: "Desconto de 10% para pagamentos no pix";
    }
    20.1%, 50% {
        content: "FRETE GRÁTIS - Nas compras acima de R$499";
    }
    50.1%, 100% {
        content: "Desconto de 10% para pagamentos no pix";
    }
}

.clearfix::before {
    line-height: 0;
    content: "Desconto de 10% para pagamentos no pix";
    display: block;
    width: 100vw;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 13px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    font-size: 14px;
    font-weight: 600;
    pointer-events: none;
    animation: slide-ads 6s infinite;
}

body {
  padding-top: 12px !important;
}